#fixture-table {
width: 100%;
display: table;
}

#fixture-table-caption{
display: table-caption;
text-align: center;
font-size: 30px;
font-weight: bold;
}

#fixture-table-header{
display: table-header-group;
background-color: gray;
font-weight: bold;
font-size: 25px;
}

.table-header-cell{
display: table-cell;
padding: 10px;
text-align: justify;
border-bottom: 1px solid black;
}

#fixture-table-body{
display: table-row-group;
}

.table-body-cell{
display: table-cell;
}

.logo {
    width: 20px;
    height: 20px;
}